@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $purple;
  // color: #fff;
}

.select2-selection {
  &__control {
    cursor: pointer !important;

    background-color: #511734 !important;
    border: 1px solid rgba(181, 52, 113, 0.3) !important;
    border-radius: 10px !important;
    min-height: 50px !important;
    color: $white;
    width: 350px;
    font-size: 16px !important;
    line-height: 19px !important;
    box-shadow: none !important;
  }

  &__menu {
    background-color: #511734 !important;
    color: $white;
    text-align: center;
    font-size: 15px;
    border-radius: 10px !important;
  }
  &__input-container {
    color: $white !important;
  }
  &__indicator svg {
    fill: $white !important;
  }
  &__indicator svg:hover {
    fill: $accent !important;
  }
  &__option--is-focused {
    background-color: #3b1227 !important;
    border-radius: 10px !important;
    margin: 0 !important;
  }
  &__multi-value {
    background-color: #9b2761 !important;
    color: $white !important;
    &__label {
      color: $white !important;
    }
    &__remove:hover {
      background-color: #ad4a7d !important;
      color: $white !important;
    }
  }
  &__placeholder {
    margin-left: 10px;
    font-size: 16px !important;
    line-height: 19px !important;
  }
}
